
@media screen and (max-width: 980px){
    .logo-area{
        width: 100%;
        float: none;
        text-align: center;
    }
    .login-area{
        width: 100%;
        margin: 15px auto;
        float: none;
    }
    .login-area form{
        float: none;
    }
    .left-area{
        width: 100%;
        float: none;
        display: block;
        margin: auto;
    }
    .left-area p{
        width: 100%;
    }
    .right-area{
        width: 100%;
        float: none;
        margin: auto;
    }
}
@media screen and (max-width: 768px){
    .login-area{
        width: 100%;
    }
    .login-area .email,
    .login-area .password{
        float: none;
        margin-right: 0px;
    }
    .login-area .login{
        float: none;
        margin-right: 0;
    }
    .login-area input[type="text"],
    .login-area input[type="password"]{
        width: 80%;
        box-sizing: border-box;
    }
    .login-area input[type="submit"]{
        margin-top: 10px;
    }
    .left-area{
        width: 100%;
        float: none;
        display: block;
        margin: auto;
    }
    .left-area p{
        width: 100%;
    }
    .right-area{
        width: 100%;
        float: none;
        margin: auto;
    }
}
@media screen and (max-width: 600px){
    .container{
        width: 60%;
    }
    .left-area{
        width: 100%;
        float: none;
        display: block;
        margin: auto;
    }
    .left-area p{
        width: 100%;
    }
    .right-area{
        width: 100%;
        float: none;
        margin: auto;
    }
}
